<div class="card">
  <h2 class="card-header p-3">
	  {{title}}
	</h2>
  <div class="card-body p-3">
    <h3 class="card-title"> 
      Created by {{user.name}} on {{format_date date_created}} 
    </h5>
    <p class="card-text">
      {{content}}
    </p>
  </div>
</div>